.DS_Store
.bundle
fastlane/metadata
fastlane/screenshots
fastlane/report.xml
Carthage/
Tenfold.app.dsym.zip
Tenfold.ipa
Tenfold.xcodeproj/xcuserdata/
Tenfold.xcodeproj/xcshareddata/
Tenfold.xcodeproj/project.xcproject/xcuserdata/
Tenfold.xcodeproj/project.xcworkspace/xcuserdata/
