.DS_Store
Carthage/
Numbers.xcodeproj/xcuserdata/
Numbers.xcodeproj/project.xcproject/xcuserdata/
Numbers.xcodeproj/project.xcworkspace/xcuserdata/
Scalar\ Fields.xcodeproj/xcuserdata/
Scalar\ Fields.xcodeproj/project.xcproject/xcuserdata/
Scalar\ Fields.xcodeproj/project.xcworkspace/xcuserdata/
